In [1]:
import pandas as pd
import duckdb as db
import os
import glob

In [4]:
df = pd.read_csv('all_matches.csv')
df

,match_id,home_team,away_team,t1_t1_entropy,t2_t2_entropy,t1_t2_entropy,t2_t1_entropy,total_entropy,team1_entropy_segment,team2_entropy_segment,SEI
0,15946,Barcelona,Deportivo Alavés,6.884968,1.652269,1.232094,1.135241,10.904572,0.622502,0.160403,0.462099
1,15956,Real Valladolid,Barcelona,3.469568,4.994467,0.831541,1.223273,10.518850,0.367084,0.437570,-0.070486
2,15973,Barcelona,Huesca,6.008893,2.535022,0.959982,1.002560,10.506456,0.575976,0.237230,0.338747
3,15978,Real Sociedad,Barcelona,2.768963,5.638493,1.154647,1.067252,10.629355,0.252279,0.538686,-0.286407
4,15986,Barcelona,Girona,5.822328,2.798942,1.165969,1.036201,10.823440,0.525947,0.270590,0.255358
...,...,...,...,...,...,...,...,...,...,...,...
692,9889,Celta Vigo,Barcelona,4.215248,4.135289,0.947568,1.099771,10.397876,0.420033,0.383067,0.036966
693,9912,RC Deportivo La Coruña,Barcelona,3.552477,5.214002,0.692081,0.937694,10.396254,0.365333,0.477902,-0.112569
694,9924,Barcelona,Real Madrid,4.129355,4.326729,1.198815,1.061504,10.716403,0.372517,0.416561,-0.044044
695,9928,Barcelona,Villarreal,4.647487,3.930977,1.112722,1.156754,10.847940,0.432480,0.358312,0.074168
696,9948,Barcelona,Real Sociedad,4.853259,3.426847,1.312359,1.235243,10.827707,0.441104,0.323611,0.117493

In [39]:
drop_columns = ['match_date', 'kick_off', 'match_status', 'match_status_360', 'last_updated', \
                'last_updated_360', 'metadata', 'competition_stage', 'stadium', 'referee', 'match_week']

In [50]:
df_list = []
for i in glob.glob('data\matches\*'):
    for m in glob.glob(i+'\*'):
        print(m)
        df = pd.read_json(m)
        df['home_team'] = df['home_team'].astype('str')
        df['home_team'] = df['home_team'].str.split(':').str[2].str.split(',').str[0].str.replace("'", '')
        df['away_team'] = df['away_team'].astype('str')
        df['away_team'] = df['away_team'].str.split(':').str[2].str.split(',').str[0].str.replace("'", '')
        df['competition'] = df['competition'].astype('str')
        df['competition'] = df['competition'].str.split(':').str[3].str.replace("'", '').str.replace("}", '', regex=True)
        df['season'] = df['season'].astype('str')
        df['season'] = df['season'].str.split(':').str[2].str.replace("'", '').str.replace("}", '', regex=True)
        df = df.drop(columns=drop_columns, errors='ignore')
        df['home_win'] = 0
        df['away_win'] = 0
        df['tie'] = 0
        df.loc[df['home_score'] > df['away_score'], 'home_win'] = 1
        df.loc[df['away_score'] > df['home_score'], 'away_win'] = 1
        df.loc[df['away_score'] == df['home_score'], 'tie'] = 1
        df_list.append(df)
        
df_full = pd.concat(df_list)
df_full

data\matches\11\1.json
data\matches\11\2.json
data\matches\11\21.json
data\matches\11\22.json
data\matches\11\23.json
data\matches\11\24.json
data\matches\11\25.json
data\matches\11\26.json
data\matches\11\27.json
data\matches\11\37.json
data\matches\11\38.json
data\matches\11\39.json
data\matches\11\4.json
data\matches\11\40.json
data\matches\11\41.json
data\matches\11\42.json
data\matches\11\90.json
data\matches\1238\108.json
data\matches\16\1.json
data\matches\16\2.json
data\matches\16\21.json
data\matches\16\22.json
data\matches\16\23.json
data\matches\16\24.json
data\matches\16\25.json
data\matches\16\26.json
data\matches\16\27.json
data\matches\16\37.json
data\matches\16\39.json
data\matches\16\4.json
data\matches\16\41.json
data\matches\16\44.json
data\matches\2\44.json

,match_id,competition,season,home_team,away_team,home_score,away_score,home_win,away_win,tie
0,9880,La Liga,2017/2018,Barcelona,Valencia,2,1,1,0,0
1,9912,La Liga,2017/2018,RC Deportivo La Coruña,Barcelona,2,4,0,1,0
2,9924,La Liga,2017/2018,Barcelona,Real Madrid,2,2,0,0,1
3,9855,La Liga,2017/2018,Barcelona,Athletic Club,2,0,1,0,0
4,9827,La Liga,2017/2018,Las Palmas,Barcelona,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
33,3749108,Premier League,2003/2004,Arsenal,Aston Villa,2,0,1,0,0
34,3749153,Premier League,2003/2004,Arsenal,Middlesbrough,4,1,1,0,0
35,3749403,Premier League,2003/2004,Arsenal,Bolton Wanderers,2,1,1,0,0
36,3749526,Premier League,2003/2004,Charlton Athletic,Arsenal,1,1,0,0,1
37,3749431,Premier League,2003/2004,Newcastle United,Arsenal,0,0,0,0,1

In [51]:
all_matches = pd.read_csv('all_matches.csv')
all_matches

,match_id,home_team,away_team,t1_t1_entropy,t2_t2_entropy,t1_t2_entropy,t2_t1_entropy,total_entropy,team1_entropy_segment,team2_entropy_segment,SEI
0,15946,Barcelona,Deportivo Alavés,6.884968,1.652269,1.232094,1.135241,10.904572,0.622502,0.160403,0.462099
1,15956,Real Valladolid,Barcelona,3.469568,4.994467,0.831541,1.223273,10.518850,0.367084,0.437570,-0.070486
2,15973,Barcelona,Huesca,6.008893,2.535022,0.959982,1.002560,10.506456,0.575976,0.237230,0.338747
3,15978,Real Sociedad,Barcelona,2.768963,5.638493,1.154647,1.067252,10.629355,0.252279,0.538686,-0.286407
4,15986,Barcelona,Girona,5.822328,2.798942,1.165969,1.036201,10.823440,0.525947,0.270590,0.255358
...,...,...,...,...,...,...,...,...,...,...,...
692,9889,Celta Vigo,Barcelona,4.215248,4.135289,0.947568,1.099771,10.397876,0.420033,0.383067,0.036966
693,9912,RC Deportivo La Coruña,Barcelona,3.552477,5.214002,0.692081,0.937694,10.396254,0.365333,0.477902,-0.112569
694,9924,Barcelona,Real Madrid,4.129355,4.326729,1.198815,1.061504,10.716403,0.372517,0.416561,-0.044044
695,9928,Barcelona,Villarreal,4.647487,3.930977,1.112722,1.156754,10.847940,0.432480,0.358312,0.074168
696,9948,Barcelona,Real Sociedad,4.853259,3.426847,1.312359,1.235243,10.827707,0.441104,0.323611,0.117493

In [54]:
df_comb = db.query('''select * from df_full f inner join all_matches a on f.match_id=a.match_id''').df()
df_comb

,match_id,competition,season,home_team,away_team,home_score,away_score,home_win,away_win,tie,...,home_team_2,away_team_2,t1_t1_entropy,t2_t2_entropy,t1_t2_entropy,t2_t1_entropy,total_entropy,team1_entropy_segment,team2_entropy_segment,SEI
0,15946,La Liga,2018/2019,Barcelona,Deportivo Alavés,3,0,1,0,0,...,Barcelona,Deportivo Alavés,6.884968,1.652269,1.232094,1.135241,10.904572,0.622502,0.160403,0.462099
1,15956,La Liga,2018/2019,Real Valladolid,Barcelona,0,1,0,1,0,...,Real Valladolid,Barcelona,3.469568,4.994467,0.831541,1.223273,10.518850,0.367084,0.437570,-0.070486
2,15973,La Liga,2018/2019,Barcelona,Huesca,8,2,1,0,0,...,Barcelona,Huesca,6.008893,2.535022,0.959982,1.002560,10.506456,0.575976,0.237230,0.338747
3,15978,La Liga,2018/2019,Real Sociedad,Barcelona,1,2,0,1,0,...,Real Sociedad,Barcelona,2.768963,5.638493,1.154647,1.067252,10.629355,0.252279,0.538686,-0.286407
4,15986,La Liga,2018/2019,Barcelona,Girona,2,2,0,0,1,...,Barcelona,Girona,5.822328,2.798942,1.165969,1.036201,10.823440,0.525947,0.270590,0.255358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
682,9700,La Liga,2017/2018,Barcelona,Celta Vigo,2,2,0,0,1,...,Barcelona,Celta Vigo,5.502583,2.924616,1.417909,1.197818,11.042926,0.478360,0.284771,0.193589
683,266952,La Liga,2016/2017,Barcelona,Villarreal,4,1,1,0,0,...,Barcelona,Villarreal,5.298429,2.678190,1.585246,1.313722,10.875586,0.462219,0.271223,0.190996
684,267561,La Liga,2014/2015,Rayo Vallecano,Barcelona,0,2,0,1,0,...,Rayo Vallecano,Barcelona,3.190862,4.711522,1.276957,1.137066,10.316407,0.295740,0.470262,-0.174522
685,69243,La Liga,2009/2010,Barcelona,Sevilla,4,0,1,0,0,...,Barcelona,Sevilla,5.713168,2.247884,1.437068,1.291852,10.689972,0.520858,0.223864,0.296994
686,267373,La Liga,2016/2017,Barcelona,Real Sociedad,3,2,1,0,0,...,Barcelona,Real Sociedad,4.156135,3.969379,1.307566,1.205889,10.638969,0.381095,0.382655,-0.001560

In [59]:
db.query('''select count(*) as correct_home from df_comb where home_win = 1 and SEI > 0''').df()

   correct_home
0           256

In [60]:
db.query('''select count(*) as correct_away from df_comb where away_win = 1 and SEI < 0''').df()

   correct_away
0           191

In [63]:
db.query('''select count(*) as non_ties from df_comb where tie <> 1''').df()

   non_ties
0       553

In [64]:
print((256+191)/553)

0.8083182640144665

In [65]:
print((256+191)/687)

0.6506550218340611